<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xs-12">
            <h1>Register</h1>
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <label>Create a User Name: </label>
                    <input class="form-control mr-sm-2" type="text" required><!-- Add [(ngModel)]="user.userName" -->
                </p>
                <P>
                    <label>Create a Password: </label>
                    <input class="form-control mr-sm-2" type="text" required> <!-- Add [(ngModel)]="user.password" -->
                </P>
                <button type="submit" [disabled]="!f.valid" routerLink='/user/1'
                    class="btn btn-primary">Register!</button>
                <button routerLink='/signinpage' class="btn btn-success">Already have an account? Sign in!</button>
            </form>
        </div>
    </div>
</div>

